.a{
width: 600px;
    height: 80px;
}
.a1{
    float: left;
    width: 75%;
    height: 100%;
}
.a11{
    background-color: #3b8de3;
    float: left;
    width: 66.66%;
    height: 50%;
}
.a12{
    background-color: red;
    float: left;
    width: 33.34%;
    height: 50%;
}
.a2{
    float: left;
    width: 25%;
    height: 100%;
}
.a21{
    background-color: lime;
    width: 100%;
    height: 25%;
}
@media screen and (max-width: 1200px){
    .a12{
         display: none;
         }
    .a{
        width: 450px;
    }
    .a1{
        width: 66.66%;
    }
    .a2{
        width: 33.34%;
    }
    .a11{
        width: 100%;
    }
}
@media screen and (max-width: 900px){
    .a2{
        display: none;
    }
    .a1{
        width: 100%;
    }
    .a11{
        width: 100%;
    }
    .a{
        width: 300px;
    }
}
/*
max-width代表小于这个值时执行
min-width代表大于这个值时执行
device-aspect-ratio可以用来适配特定屏幕长宽比的设备，这也是一个很有用的属性，
比如，我们的页面想要对长宽比为4:3的普通屏幕定义一种样式，然后对于16:9和16:10的宽屏，
定义另一种样式，比如自适应宽度和固定宽度：
@media only screen and (device-aspect-ratio:4/3)
作者：ZombieBrandg
链接：https://www.jianshu.com/p/982c9f2d186f
来源：简书
简书著作权归作者所有，任何形式的转载都请联系作者获得授权并注明出处。
*/