body{
    width: auto;height: auto;
    margin: 0;padding: 0;
    background: #f6f6f6;
    position: relative;
    overflow-x: hidden;
}
ul,ol,li{
    list-style: none;
    margin: 0;padding: 0;
}


.col-s-1{width: 2.5%;}
.col-s-2{width: 5%;}
.col-s-3{width: 7.5%;}
.col-s-4{width: 10%;}
.col-s-5{width: 12.5%;}
.col-s-6{width: 15%;}
.col-s-7{width: 17.5%;}
.col-s-8{width: 20%;}
.col-s-9{width: 22.5%;}
.col-s-10{width: 25%;}
.col-s-11{width: 27.5%;}
.col-s-12{width: 30%;}
.col-s-13{width: 32.5%;}
.col-s-14{width: 35%;}
.col-s-15{width: 37.5%;}
.col-s-16{width: 40%;}
.col-s-17{width: 42.5%;}
.col-s-18{width: 45%;}
.col-s-19{width: 47.5%;}
.col-s-20{width: 50%;}
.col-s-21{width: 52.5%;}
.col-s-22{width: 55%;}
.col-s-23{width: 57.5%;}
.col-s-24{width: 60%;}
.col-s-25{width: 62.5%;}
.col-s-26{width: 65%;}
.col-s-27{width: 67.5%;}
.col-s-28{width: 70%;}
.col-s-29{width: 72.5%;}
.col-s-30{width: 75%;}
.col-s-31{width: 77.5%;}
.col-s-32{width: 80%;}
.col-s-33{width: 82.5%;}
.col-s-34{width: 85%;}
.col-s-35{width: 87.5%;}
.col-s-36{width: 90%;}
.col-s-37{width: 92.5%;}
.col-s-38{width: 95%;}
.col-s-39{width: 97.5%;}
.col-s-40{width: 100%;}

/*顶部快速导航栏*/
#site-nva{
    width: auto;height: 32px;
    background: #f9919d;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
}
#site-nva .container{
    width: 982px;height: 32px;
    font-size: 12px;
    margin: 0 auto;
}
#site-nva .login-info {
    float: left;
    line-height: 32px;
    margin: 0; padding: 0;
}
#site-nva  .com{
    color: #ffffff;
    line-height: 32px;
}
#site-nva  a{
    color: #ffffff;
    text-decoration-line: none;
}
#site-nva .login{
    padding: 0 10px 0 20px;
}
#site-nva .register{
    padding: 0 10px;
}
#site-nva .quick-menu{
    line-height: 32px;
    float: right;
    margin: 0;padding: 0;
}
#site-nva .menu-item{
    line-height: 32px;
    float: right;
    margin-left: 20px;
}


#right-fixed{
    width: 80px;height: 70px;
    background-size: 80px 200px;
    position: fixed;
    z-index: 55;
    right:0;
    top: 0;
}

#right-fixed .b1{
    width: 80px;height: 330px;
    background: #f9919d;
    float: right;
    position: relative;
}
#right-fixed .b1 .img0{
    width: 80px;height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    text-decoration-line: none;
    position: absolute;
    bottom: 10px;
    left: 15px;
}
#right-fixed .b1 a img{
    display: block;
    width: 80px;height: 150px;
    vertical-align: middle;
    margin-top: 100px;
}

#right-fixed .bb{
    width: 80px;height: 400px;
    margin-top: 300px;
}

#right-fixed .bb .mask{
    float: right;
}
#right-fixed .b2{
    width: 40px;height: 400px;
    float: right;
    background: #000000;
    position: relative;
}
#right-fixed .b2 .shop{
    width: 40px;height: 70px;
    position: absolute;
    top: 50px;
}
#right-fixed .b2 .shop span{
    display: block;
    width: 15px;height: 60px;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
}
#right-fixed .b2 .img{
    width: 40px;height: 35px;
    vertical-align: middle;
    position: absolute;
}
#right-fixed .b2 .img1{
    top: 130px;
}
#right-fixed .b2 .img2{
    top: 170px;
}
#right-fixed .b2 .img3{
    top: 210px;
}
#right-fixed .b2 .img4{
    top: 250px;
}

#right-fixed .b2 .img9{
    bottom: 50px;
}
#right-fixed .b2 .img10{
    bottom: 10px;
}
#right-fixed .b2 .shop:hover{
    background: #ff0036;
}

#right-fixed .b2 .img:hover{
    background: #ff0036;
}



#header{
     width: 100%; height: 130px;
     background: #fff;
     margin: 0;
 }
#header .context{
    width: 982px; height: 100%;
    margin: 0 auto;
}
#header .img{
    width: 240px;height: 130px;
    vertical-align: middle;
    float: left;
}
#header .mallSearch{
    width: 410px;height: 106px;
    float: left;
    margin-left: 100px;
    overflow: hidden;
    margin-top: 10px;
}

#header .search{
    width: 266px;height: 36px;
    border: 2px solid #ff0036;
    margin-top: 10px;
    float: left;
}
#header .button{
    float: left;
    width: 136px;height: 42px;
    background: #ff0036;
    border-style: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 10px;
    text-decoration: none;
}
#header .p{
    display: block;
    font-size: 14px;
}
#header .p1{
    height: 40px;
    color: #000000;
}
#header .p2{
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 8px;
    color: #999999;
    overflow: hidden;
}
#header p a{
    text-decoration-line: none;
    color: #ff0036;
}


.detail-tmall{
    width: 100%; height:930px;
}
/*商品分类*/
#content1{
    width: 982px;height: 536px;
    margin: auto;
}

#content1 .title{
    width: 100%;height: 536px;
    background: #ffffff;
    margin: auto;
}
#content1 .main {
    width: 100%;height: 36px;
    border-bottom: 1.5px solid #ff0036;
    margin: auto;
}
#content1 .main .main-left{
    float: left;
    width: 200px;height: 36px;
}
#content1 .main .main-left .type{
    width: 100px;height: 36px;
    text-align: center;
    line-height: 36px;
    float: left;
    font-size: 14px;
    color: #f0f0f0;
    cursor: pointer;
}

#content1 .main .main-left .type1{
    background: #c60a0a;
}

#content1 .main .main-left .type2{
    background: rgba(0,0,0,0.6);
}
#content1 .main .main-right{
    float: right;
    width: 79%;height: 36px;
    box-sizing: border-box;
}
#content1 .main .main-right .category{
    width: auto;height: 36px;
    text-align: center;
    line-height: 36px;
    float: left;
}
#content1 .main .main-right .img-container{
    float: left;
    width: 100px;height: 30px;
}
#content1 .main .main-right .img-container img{
    float: left;
    width: 100px;height: 30px;
    margin-top: 3px;
    vertical-align: middle;
}
#content1 .main .main-right li{
    float: left;
    margin-left: 15px;
}
#content1 .main .main-right a{
    text-decoration-line: none;
    font-size: 14px;
    color: #333333;
}
#content1 .main .main-right a:hover{
    color: #ff0000;
}
#content1 .cate-lbt{
    width: 100%;height: 500px;
    position: relative;
    overflow: hidden;
    margin: 0;
}

#content1 .cate-lbt .lbt1{
    width: 100%;height: 500px;
    background: url("../image/tmall/Lb/lbt1.jpg") no-repeat right;
    display: block;
    position: absolute;
    z-index: 1;
}
#content1 .cate-lbt .lbt2{
    width: 100%;height: 500px;
    background: url("../image/tmall/Lb/lbt2.jpg") no-repeat right ;
    position: absolute;
    z-index: 1;
}
#content1 .cate-lbt .lbt3{
    width: 100%;height: 500px;
    background: url("../image/tmall/Lb/lbt3.jpg") no-repeat right ;
    position: absolute;
    z-index: 1;
}
#content1 .cate-lbt .lbt4{
    width: 100%;height: 500px;
    background: url("../image/tmall/Lb/lbt4.jpg") no-repeat right ;
    position: absolute;
    z-index: 1;
}
#content1 .cate-lbt .lbt5{
    width: 100%;height: 500px;
    background: url("../image/tmall/Lb/lbt5.jpg") no-repeat right ;
    position: absolute;
    z-index: 1;
}
#content1 .cate-lbt .lbt6{
    width: 100%;height: 500px;
    background: url("../image/tmall/Lb/lbt6.jpg") no-repeat right ;
    position: absolute;
    z-index: 1;
}

#content1 .cate-lbt .n{
    width:300px;
    height: 10px;
    position: absolute;
    left:550px ;
    bottom:20px;
    z-index: 3;
}
#content1 .cate-lbt .n .btn{
    float: left;
    background: rgba(0,0,0,0.5);
    width:35px;
    height: 5px;
    margin-right: 15px;
}

#content1 .cate-lbt .cate{
    float: left;
    width: 200px;height: 500px;
    background: rgba(0,0,0,0.8);
    position: absolute;
    overflow: hidden;
    z-index: 4;
}
#content1 .cate-lbt .cate2{
    display: none;
}

#content1 .cate-lbt .cate1 li{
    width: 152px;height: 31px;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    margin-left: 24px;
    margin-top: 16px;
    border: 1px solid #cb0310;
    box-sizing: border-box;
    border-radius: 12px;
}
#content1 .cate-lbt .cate2 li{
    width: 200px;height: 25px;
    color: #ffffff;
    font-size: 12px;
    position: relative;
    float: left;
    margin-top: 8px;
}

#content1 .cate-lbt .cate1 li .img{
    display: inline-block;
    width: 16px;height: 31px;
    font-size: 16px;
    line-height: 31px;
    float: left;
    margin-left: 30px;
}
#content1 .cate-lbt .cate1 li .img{
    display: inline-block;
    width: 16px;height: 25px;
    font-size: 14px;
    line-height: 25px;
    float: left;
}
#content1 .cate-lbt .cate1 li .con{
    display: inline-block;
    width: 56px;height: 31px;
    font-size: 14px;
    line-height: 31px;
    color: #ffffff;
    float: left;
    margin-left: 15px;
}

#content1 .cate-lbt .subdivision{
    width: 850px;height: 100%;
    background: #ffffff;
    z-index: 999;
    position: absolute;
    background: #fafafa;
    left: 200px;
    display: none;
}
#content1 .subdivision .left{
    width: 650px;height: 100%;
    background: #ffffff;
    float: left;
}

#content1 .subdivision .left .con1{
    width: 100%;height: 68px;
    margin: 0;
}
#content1 .subdivision .left .con2{
    width: 100%;height: 40px;
}
#content1 .subdivision .left .con3{
    width: 100%;height: 120px;
}
#content1 .subdivision .left .con1 .title{
    width: 140px;height: 68px;
    float: left;
}
#content1 .subdivision .left .con2 .title{
    width: 140px;height: 40px;
    float: left;
}
#content1 .subdivision .left .con3 .title{
    width: 140px;height: 120px;
    float: left;
}
#content1 .subdivision .left .con1 .title span{
    display: block;
    font-weight: 600;
    margin-top: 12px;
    margin-left: 30px;
}
#content1 .subdivision .left .con2 .title span{
    display: block;
    font-weight: 600;
    margin-top: 12px;
    margin-left: 30px;
}
#content1 .subdivision .left .con3 .title span{
    display: block;
    font-weight: 600;
    margin-top: 12px;
    margin-left: 30px;
}
#content1 .subdivision .left .con1 .desc{
    width: 500px;height: 68px;
    border-bottom: 1px dashed #999999;
    float: left;
}
#content1 .subdivision .left .con2 .desc{
    width: 500px;height: 40px;
    float: left;
}
#content1 .subdivision .left .con2 .desc1{
    border-bottom: 1px dashed #999999;
}
#content1 .subdivision .left .con3 .desc{
    width: 500px;height: 120px;
    border-bottom: 1px dashed #999999;
    float: left;
}

#content1 .subdivision .left .con1 .desc span{
    display: block;
    width: 500px;height: 50px;
    margin-top: 12px;
}
#content1 .subdivision .left .con2 .desc span{
    display: block;
    width: 500px;height: 35px;
    margin-top: 12px;
}
#content1 .subdivision .left .con3 .desc span{
    display: block;
    width: 500px;height: 115px;
    margin-top: 12px;
}
#content1 .subdivision .left .con1 .desc span a{
    display: inline-block;
    text-decoration-line: none;
    color: #646464;
    font-size: 15px;
    line-height: 25px;
    margin-right: 7px;
}
#content1 .subdivision .left .con2 .desc span a{
    display: inline-block;
    text-decoration-line: none;
    color: #646464;
    font-size: 15px;
    line-height: 25px;
    margin-right: 7px;
}
#content1 .subdivision .left .con3 .desc span a{
    display: inline-block;
    text-decoration-line: none;
    color: #646464;
    font-size: 15px;
    line-height: 25px;
    margin-right: 7px;
}

#content1 .subdivision .right{
    width: 195px;height: 100%;
    float: right;
}
#content1 .subdivision .right img{
    width: 181px;height: 480px;
    margin: 10px 0 0 4px;
}

/*第二部分内容*/
#content2{
    width: 982px;height: 370px;
    margin: 20px auto;
}

#content2 .left{
    width: 234px;height: 370px;
    float: left;
    display: none;
}
#content2 .left .left-top{
    width: 234px;height: 55px;
    background: #ffffff;
}
#content2 .left .left-top .c1{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    height: 44px;
    line-height: 44px;
    margin:5px 10px;
    float: left;
}
#content2 .left .left-top .c2{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin: 5px 0px;
    height: 44px;
    float: left;
    line-height: 44px;
}
#content2 .left .left-top a{
    width: 24px;height: 24px;
    display: inline-block;
    float: right;
    margin-top: 15px;
    background: url("../image/tmall/more.png") no-repeat 0 / 18px 18px;
}
#content2 .left a img{
    width: 234px;height: 316px;
    vertical-align: middle;
}
#content2 .center{
    width: 485px;height: 370px;
    float: left;
}
#content2 .center .center-top,#content2 .right .right-top{
    width: 485px;height: 55px;
    background: #ffffff;
    box-sizing: initial;
}

#content2 .center .center-top .c1,#content2 .right .right-top .c1{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    height: 44px;
    line-height: 44px;
    margin:5px 10px;
    float: left;
}
#content2 .center .center-top .c2,#content2 .right .right-top .c2{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin: 5px 0px;
    height: 44px;
    float: left;
    line-height: 44px;
}

#content2 .center .center-top .more,#content2 .right .right-top .more{
    width:60px;height: 24px;
    display: inline-block;
    float: right;
    margin-top: 15px;
    font-size: 16px;
    color: #666666;
    background: url("../image/tmall/more.png") no-repeat 0 / 18px 18px;
    background-position: 38px 3px;
    text-decoration-line: none;
}
#content2 .center a img,#content2 .right a img{
    width: 485px;height: 316px;
    vertical-align: middle;
}

#content2 .right{
    width: 485px;height: 370px;
    float: left;
    margin-left: 12px;
}

#content2 .aaa{
    background: rgba(255,255,255,0.6);
    display:none;
}

/*商标部分*/
#content3{
    width: 982px; height: 327px;
    margin:10px auto;
}

#content3 .row1,#content3 .row2{
    width: 984px; height: 108px;
    overflow: hidden;
    margin-bottom: 1px;
}
#content3 .row3{
    width: 984px; height: 108px;
}

#content3 .brand-item{
    width: 122px; height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    cursor: pointer;
    position: relative;
}
#content3 .row3 .brand{
    width: 861px; height: 108px;
    overflow: hidden;
    margin-left: 0;
    float: left;
}
#content3 .row3 .more{
    width: 122px; height: 108px;
    background: #ffffff;
    float: left;
}

@keyframes  animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

#content3 .row3 .more img:hover{
    animation-name: animate;
    animation-duration: 0.5s;
    animation-timing-function: initial;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#content3 .row3 .more img{
    width: 40px; height: 40px;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 40px;
    cursor: pointer;
}
#content3 .row3 .more span{
    display: block;
    width: 50px; height: 30px;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 14px;
    color: #8b8b8b;
    cursor: pointer;
}

#content3 .mask{
    display: none;
    width: 122px; height: 108px;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
#content3 .mask .title{
    width: 122px; height: 20px;
    cursor: pointer;
    display: block;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 30px;
}
#content3 .mask .go{
    width: 60px; height: 20px;
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 35px;
    background-color: #ff0036;
    border: 1px solid #ff0036;
    border-radius: 15px;
}
#content3 .brand-item .brand-img{
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 108px;
    background-color: #fff;
    cursor: pointer;
}
#content3 .brand-item .brand-img img{
    width: 82%;height: 50px;
    vertical-align: middle;
}


/*第四部分 按类别细分*/
    #content4{
        width: 982px;height: 5085px;
        margin: 20px auto;
    }
    #content4 img{
        cursor: pointer;
    }
    #content4 .T-mart{
        width: 100%;height: 665px;
        margin: 0 auto;padding: 0;
    }
    #content4 .T-mart .title{
        width: 100%;height: 31px;
        margin: 0;padding: 0;
    }
    #content4 .T-mart .title .t-left{
        width: 214px;height: 25px;
        margin-top: 3px;
        float: left;
    }
    #content4 .T-mart .title .t-left img{
        width: 214px;height: 25px;
        vertical-align: middle;
    }
    #content4 .T-mart .title .t-right{
        width: 700px;height: 31px;
        float: right;
    }
    #content4 .T-mart .title .t-right a{
        display: inline-block;
        float: right;
        width: 56px;height: 21px;
        text-decoration-line: none;
        font-size: 14px;
        color: #000000;
        margin: 5px 10px;
    }
    #content4 .T-mart .title .t-right a:hover{
        border-bottom: 1px solid #000000;
    }

    #content4 .T-mart .con{
        width: 100%;height: 618px;
        margin:12px auto;
    }
    #content4 .T-mart .con1{
        width: 235px;height: 618px;
        position: relative;
        float: left;
    }
    #content4 .T-mart .con1:hover{
        position: relative;
        background: rgba(255,255,255,0.6);
        display: block;
    }

    #content4 .T-mart .con1 .img1{
        width: 235px;height: 618px;
        cursor: pointer;
        vertical-align: middle;
    }
    #content4 .T-mart .con1 .detail{
        width: 218px;height: 64px;
        position: absolute;
        cursor: pointer;
        bottom: 20%;
    }
    #content4 .T-mart .con1 .detail .left-title{
        width: 70px;height: 64px;
        overflow: hidden;
        float: left;
        color: #ffffff;
        text-align: center;
        background: rgba(0,0,0,0.9);
        bottom: 20%;
    }
    #content4 .T-mart .con1 .detail .left-title span{
        display: inline-block;
        width: 36px;height: 50px;
        margin-top: 7px;
        font-size: 18px;
        line-height: 24px;
        vertical-align: middle;
    }
    #content4 .T-mart .con1 .img2{
        width: 32px;height: 32px;
        vertical-align: middle;
        position: absolute;
        bottom: 15px;right: 15px;
        cursor: pointer;
    }

    #content4 .T-mart .con1 .detail .right-title{
        width: 128px;height: 64px;
        overflow: hidden;
        float: left;
        color: #ffffff;
        text-align: center;
        background: rgba(0,0,0,0.6);
        bottom: 20%;
    }
    #content4 .T-mart .con1 .detail .right-title span{
        display: block;
        font-size: 18px;
        width: 100px;height: 21px;
        margin: 2px 15px;
        line-height: 39px;
        text-align: left;
    }

    #content4 .T-mart .con2{
        width: 747px;height: 618px;
        float: right;
    }
    #content4 .T-mart .con2 .row{
        width: 747px;height: 302px;
        margin: 0;padding: 0;
        overflow: hidden;
    }
    #content4 .T-mart .con2 .row2{
        margin-top : 14px;
    }

    #content4 .T-mart .con2 .c1{
        width: 484px;height: 302px;
        float: left;
        margin-left: 13px;
        background: #ffffff;
        position: relative;
    }
    #content4 .T-mart .con2 .c1 .grid{
        width: 462px;height: 282px;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,.09);
        margin: 10px;
        position: absolute;
    }
    #content4 .T-mart .con2 .c1 .grid .tab{
        overflow: hidden;
        background: #f1f1f1;
    }
    #content4 .T-mart .con2 .c1 .grid .tab li{
        float: left;
        color: #000;
        width: 191px;height: 57px;
        cursor: pointer;
        line-height: 50px;
        padding: 0 20px;
        text-align: center;
    }
    #content4 .T-mart .con2 .c1 .grid .tab .tab1{
        color: #ffffff;
        background: #00b262;
    }
    #content4 .T-mart .con2 .c1 .grid .tab .tab2{
        color: #ffffff;
        background: #ebebeb;
    }
    #content4 .T-mart .con2 .c1 .grid .tab li span{
        font-size: 18px;
        margin-top: 16px;
        line-height: 20px;
    }
    #content4 .T-mart .con2 .c1 .tab-detail{
        width: 462px;height: 225px;
        position: absolute;
        top: 67px;right: 12px;
    }
    #content4 .T-mart .con2 .c1 .tab-detail .detail-info{
        width: 291px;height: 87px;
        float: left;
        margin-left: 14px;
        background: url("../image/tmall/TMart/kuang.png") no-repeat 0 center;
        margin-top: 100px;
        position: absolute;
        z-index: 2;
    }
    #content4 .T-mart .con2 .c1 .tab-detail .detail-info .up{
        width: 265px;height: 36px;
        float: left;
        margin: 8px 26px;
    }
    #content4 .T-mart .con2 .c1 .tab-detail .detail-info .up .small{
        width: 23px;height: 23px;
        vertical-align: middle;
        margin-top: 6px;
        float: left;
    }
    #content4 .T-mart .con2 .c1 .tab-detail .detail-info .up span{
        display: inline-block;
        width: 120px;height: 32px;
        font-weight: 700;
        line-height: 32px;
        color: #00b262;
        font-size: 22px;
        margin-left: 8px;
    }
    #content4 .T-mart .con2 .c1 .tab-detail .detail-info .down span{
        display: inline-block;
        width: 120px;height: 32px;
        line-height: 32px;
        color: #000000;
        font-size: 20px;
        margin: -8px 26px;
    }
    #content4 .T-mart .con2 .c1 .tab-detail .shop{
        width: 200px;height: 200px;
        margin: 10px 230px;
        vertical-align: middle;
        position: absolute;
        z-index: 1;
    }

    #content4 .T-mart .row1 .c2{
        width: 236px;height: 302px;
        float: left;
        background: #ffffff;
    }
    #content4 .T-mart .row2 .c2{
        width: 236px;height: 302px;
        float: left;
        background: #ffffff;
    }
    #content4 .T-mart .con2 .c2:hover{
        border: 1px solid #ff0036;
        box-sizing: border-box;
    }
    #content4 .T-mart .con2 .c2 img{
        width: 185px;height: 185px;
        margin: 20px 28px 0px;
        vertical-align: middle;
    }
    #content4 .T-mart .con2 .c2 .title{
        width: 135px;height: 40px;
        line-height: 20px;
        font-size: 14px;
        color: #333333;
        overflow: hidden;
        margin: 13px auto;
        border: none;
    }
    #content4 .T-mart .con2 .c2 .price{
        line-height: 18px;
        text-align: center;
        font-size: 18px;
        color: #ff0036;
        overflow: hidden;
        margin: 10px auto;
    }
    #content4 .T-mart .con2 .row div{
        margin-left: 13px;
    }

/*天猫国际部分*/
#content4 .HK{
    width: 100%;height: 665px;
    margin-top: 20px;
}
#content4 .HK .title{
    width: 100%;height: 31px;
    margin: 0;padding: 0;
}
#content4 .HK .title .t-left{
    width: 214px;height: 25px;
    margin-top: 3px;
    float: left;
}
#content4 .HK .title .t-left img{
    width: 214px;height: 25px;
    vertical-align: middle;
}
#content4 .HK .title .t-right{
    width: 700px;height: 31px;
    float: right;
}
#content4 .HK .title .t-right a{
    display: inline-block;
    float: right;
    width: 30px;height: 21px;
    text-decoration-line: none;
    text-align: center;
    font-size: 14px;
    color: #000000;
    margin: 5px 10px;
}
#content4 .HK .title .t-right a:hover{
    border-bottom: 1px solid #000000;
}

#content4 .HK .con{
    width: 100%;height: 618px;
    margin:12px auto;
}
#content4 .HK .con1{
    width: 235px;height: 618px;
    float: left;
}
#content4 .HK .con1 .on{
    width: 235px;height: 301px;
    position: relative;
}
#content4 .HK .con1 .down{
    width: 235px;height: 301px;
    margin-top: 16px;
    position: relative;
}
#content4 .HK .con1 .on .img1,#content4 .HK .con1 .down .img1{
    width: 235px;height: 301px;
    cursor: pointer;
    vertical-align: middle;
}
#content4 .HK .con1 .on .detail,#content4 .HK .con1 .down .detail{
    width: 218px;height: 64px;
    position: absolute;
    cursor: pointer;
    bottom: 20%;
}
#content4 .HK .con1 .on .detail .left-title,#content4 .HK .con1 .down .detail .left-title{
    width: 70px;height: 64px;
    overflow: hidden;
    float: left;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.9);
    bottom: 20%;
}
#content4 .HK .con1 .on .detail .left-title span,#content4 .HK .con1 .down .detail .left-title span{
    display: inline-block;
    width: 36px;height: 50px;
    margin-top: 7px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
}
#content4 .HK .con1 .on .img2,#content4 .HK .con1 .down .img2{
    width: 32px;height: 32px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;right: 15px;
    cursor: pointer;
}
#content4 .HK .con1 .on .detail .right-title,#content4 .HK .con1 .down .detail .right-title{
    width: 128px;height: 64px;
    overflow: hidden;
    float: left;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.6);
    bottom: 20%;
}
#content4 .HK .con1 .on .detail .right-title span,#content4 .HK .con1 .down .detail .right-title span{
    display: block;
    font-size: 18px;
    width: 100px;height: 21px;
    margin: 2px 15px;
    line-height: 39px;
    text-align: left;
}

#content4 .HK .con2{
    width: 747px;height: 618px;
    float: right;
}

#content4 .HK .con2 .row{
    width: 748px;height: 302px;
    margin: 0;padding: 0;
    overflow: hidden;
}

#content4 .HK .con2 .row2{
    margin-top : 14px;
}

#content4 .HK .con2 .c1{
    width: 236px;height: 302px;
    float: left;
    background: #ffffff;
    position: relative;
}
#content4 .HK .con2 .c1:hover,#content4 .HK .con2 .c2:hover{
    border: 1px solid #ff0036;
    box-sizing: border-box;
}

#content4 .HK .con2 .c1 .title{
    width: 220px;height: 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    overflow: hidden;
    position: absolute;
    top: 20px;left: 25px;
    border: none;
}
#content4 .HK .con2 .c1 .title1{
    width: 220px;height: 20px;
    line-height: 24px;
    font-size: 14px;
    color: #7a45e5;
    overflow: hidden;
    position: absolute;
    top: 49px;left: 25px;
    border: none;
}
#content4 .HK .con2 .c1 img{
    width: 170px;height: 170px;
    margin: 90px 33px 42px 32px;
    vertical-align: middle;
}

#content4 .HK .row .c2{
    width: 236px;height: 302px;
    background: #ffffff;
}
#content4 .HK .row1 .c2{
    float: left;
}
#content4 .HK .row2 .c2{
    float: left;
}

#content4 .HK .con2 .c2 img{
    width: 185px;height: 185px;
    margin: 20px 28px 0px;
    vertical-align: middle;
}
#content4 .HK .con2 .c2 .title{
    width: 135px;height: 40px;
    line-height: 20px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    margin: 13px auto;
    border: none;
}
#content4 .HK .con2 .c2 .price{
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    color: #ff0036;
    overflow: hidden;
    margin: 10px auto;
}
#content4 .HK .con2 div {
    margin-left: 13px;
}


/*美丽人生部分*/
#content4 .beauty{
    width: 100%;height: 665px;
    margin-top: 20px;padding: 0;
}

#content4 .beauty .title{
    width: 100%;height: 31px;
    margin-top: 3px;padding: 0;
}
#content4 .beauty .title .color-mark{
    display: inline-block;
    width: 5px;height: 18px;
    background: #333333;
    vertical-align: middle;
}
#content4 .beauty .title .name{
    display: inline-block;
    width: 300px;height: 28px;
    color: #000000;
    vertical-align: middle;
    margin-top: 1.5px;
}
#content4 .beauty .title .name .name1{
    display: inline-block;
    color: #000000;
    font-size: 18px;
    vertical-align: middle;
}
#content4 .beauty .title .name .name2{
    display: inline-block;
    color: #000000;
    font-size: 14px;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 3px;
}
#content4 .beauty .con{
    width: 100%;height: 618px;
    margin:11px auto;
}
#content4 .beauty .con1{
    width: 235px;height: 618px;
    position: relative;
    float: left;
}
#content4 .beauty .con1 .img1{
    width: 235px;height: 618px;
    cursor: pointer;
    vertical-align: middle;
}
#content4 .beauty .con1 .detail{
    width: 218px;height: 64px;
    position: absolute;
    cursor: pointer;
    bottom: 20%;
}
#content4 .beauty .con1 .detail .left-title{
    width: 70px;height: 64px;
    overflow: hidden;
    float: left;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.9);
    bottom: 20%;
}
#content4 .beauty .con1 .detail .left-title span{
    display: inline-block;
    width: 36px;height: 50px;
    margin-top: 7px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
}
#content4 .beauty .con1 .img2{
    width: 32px;height: 32px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;right: 15px;
    cursor: pointer;
}

#content4 .beauty .con1 .detail .right-title{
    width: 128px;height: 64px;
    overflow: hidden;
    float: left;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.6);
    bottom: 20%;
}
#content4 .beauty .con1 .detail .right-title span{
    display: block;
    font-size: 18px;
    width: 100px;height: 21px;
    margin: 2px 15px;
    line-height: 39px;
    text-align: left;
}
#content4 .beauty .con2{
    width: 747px;height: 618px;
    float: right;
}
#content4 .beauty .con2 .row{
    width: 747px;height: 302px;
    margin: 0;padding: 0;
    overflow: hidden;
}

#content4 .beauty .con2 .row2{
    margin-top : 14px;
}

#content4 .beauty .con2 .row .c1{
    width: 236px;height: 302px;
    background: #ffffff;
}
#content4 .beauty .row1 .c1{
    float: left;
}
#content4 .beauty .row2 .c1{
    float: left;
}

#content4 .beauty .con2 .c1:hover{
    border: 1px solid #ff0036;
    box-sizing: border-box;
}
#content4 .beauty .con2 .c1 img{
    width: 185px;height: 185px;
    margin: 20px 28px 0px;
    vertical-align: middle;
}
#content4 .beauty .con2 .c1 .title{
    width: 135px;height: 40px;
    line-height: 20px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    margin: 13px auto;
    border: none;
}
#content4 .beauty .con2 .c1 .price{
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    color: #ff0036;
    overflow: hidden;
    margin: 10px auto;
}
#content4 .beauty .con2 div{
    margin-left: 13px;
}


/*潮电酷玩部分*/
#content4 .electrical{
    width: 100%;height: 665px;
    margin-top: 20px;padding: 0;
}

#content4 .electrical .title{
    width: 100%;height: 31px;
    margin-top: 3px;padding: 0;
}
#content4 .electrical .title .color-mark{
    display: inline-block;
    width: 5px;height: 18px;
    background: #333333;
    vertical-align: middle;
}
#content4 .electrical .title .name{
    display: inline-block;
    width: 300px;height: 28px;
    color: #000000;
    vertical-align: middle;
    margin-top: 1.5px;
}
#content4 .electrical .title .name .name1{
    display: inline-block;
    color: #000000;
    font-size: 18px;
    vertical-align: middle;
}
#content4 .electrical .title .name .name2{
    display: inline-block;
    color: #000000;
    font-size: 14px;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 3px;
}
#content4 .electrical .con{
    width: 100%;height: 618px;
    margin:11px auto;
}
#content4 .electrical .con1{
    width: 235px;height: 618px;
    position: relative;
    float: left;
}
#content4 .electrical .con1 .img1{
    width: 235px;height: 618px;
    cursor: pointer;
    vertical-align: middle;
}
#content4 .electrical .con1 .detail{
    width: 218px;height: 64px;
    position: absolute;
    cursor: pointer;
    bottom: 20%;
}
#content4 .electrical .con1 .detail .left-title{
    width: 70px;height: 64px;
    overflow: hidden;
    float: left;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.9);
    bottom: 20%;
}
#content4 .electrical .con1 .detail .left-title span{
    display: inline-block;
    width: 36px;height: 50px;
    margin-top: 7px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
}
#content4 .electrical .con1 .img2{
    width: 32px;height: 32px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;right: 15px;
    cursor: pointer;
}

#content4 .electrical .con1 .detail .right-title{
    width: 128px;height: 64px;
    overflow: hidden;
    float: left;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.6);
    bottom: 20%;
}
#content4 .electrical .con1 .detail .right-title span{
    display: block;
    font-size: 18px;
    width: 100px;height: 21px;
    margin: 2px 15px;
    line-height: 39px;
    text-align: left;
}
#content4 .electrical .con2{
    width: 747px;height: 618px;
    float: right;
}

#content4 .electrical .con2 .row{
    width: 747px;height: 302px;
    margin: 0;padding: 0;
    overflow: hidden;
}

#content4 .electrical .con2 .row2{
    margin-top : 14px;
}

#content4 .electrical .con2 .row .c1{
    width: 236px;height: 302px;
    background: #ffffff;
}
#content4 .electrical .row1 .c1{
    float: left;
}
#content4 .electrical .row2 .c1{
    float: left;
}

#content4 .electrical .con2 .c1:hover{
    border: 1px solid #ff0036;
    box-sizing: border-box;
}

#content4 .electrical .con2 .c1 img{
    width: 185px;height: 185px;
    margin: 20px 28px 0px;
    vertical-align: middle;
}
#content4 .electrical .con2 .c1 .title{
    width: 135px;height: 40px;
    line-height: 20px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    margin: 13px auto;
    border: none;
}
#content4 .electrical .con2 .c1 .price{
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    color: #ff0036;
    overflow: hidden;
    margin: 10px auto;
}
#content4 .electrical .con2 div{
    margin-left: 13px;
}

/*居家生活部分*/
#content4 .health{
    width: 100%;height: 665px;
    margin-top: 20px;padding: 0;
}

#content4 .health .title{
    width: 100%;height: 31px;
    margin-top: 3px;padding: 0;
}
#content4 .health .title .color-mark{
    display: inline-block;
    width: 5px;height: 18px;
    background: #333333;
    vertical-align: middle;
}
#content4 .health .title .name{
    display: inline-block;
    width: 300px;height: 28px;
    color: #000000;
    vertical-align: middle;
    margin-top: 1.5px;
}
#content4 .health .title .name .name1{
    display: inline-block;
    color: #000000;
    font-size: 18px;
    vertical-align: middle;
}
#content4 .health .title .name .name2{
    display: inline-block;
    color: #000000;
    font-size: 14px;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 3px;
}
#content4 .health .con{
    width: 100%;height: 618px;
    margin:11px auto;
}
#content4 .health .con1{
    width: 235px;height: 618px;
    position: relative;
    float: left;
}
#content4 .health .con1 .img1{
    width: 235px;height: 618px;
    cursor: pointer;
    vertical-align: middle;
}
#content4 .health .con1 .detail{
    width: 218px;height: 64px;
    position: absolute;
    cursor: pointer;
    bottom: 20%;
}
#content4 .health .con1 .detail .left-title{
    width: 70px;height: 64px;
    overflow: hidden;
    float: left;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.9);
    bottom: 20%;
}
#content4 .health .con1 .detail .left-title span{
    display: inline-block;
    width: 36px;height: 50px;
    margin-top: 7px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
}
#content4 .health .con1 .img2{
    width: 32px;height: 32px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;right: 15px;
    cursor: pointer;
}

#content4 .health .con1 .detail .right-title{
    width: 128px;height: 64px;
    overflow: hidden;
    float: left;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.6);
    bottom: 20%;
}
#content4 .health .con1 .detail .right-title span{
    display: block;
    font-size: 18px;
    width: 100px;height: 21px;
    margin: 2px 15px;
    line-height: 39px;
    text-align: left;
}
#content4 .health .con2{
    width: 747px;height: 618px;
    float: right;
}

#content4 .health .con2 .row{
    width: 747px;height: 302px;
    margin: 0;padding: 0;
    overflow: hidden;
}

#content4 .health .con2 .row2{
    margin-top : 14px;
}

#content4 .health .con2 .row .c1{
    width: 236px;height: 302px;
    background: #ffffff;
}
#content4 .health .row1 .c1{
    float: left;
}
#content4 .health .row2 .c1{
    float: left;
}


#content4 .health .con2 .c1:hover{
    border: 1px solid #ff0036;
    box-sizing: border-box;
}

#content4 .health .con2 .c1 img{
    width: 185px;height: 185px;
    margin: 20px 28px 0px;
    vertical-align: middle;
}
#content4 .health .con2 .c1 .title{
    width: 135px;height: 40px;
    line-height: 20px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    margin: 13px auto;
    border: none;
}
#content4 .health .con2 .c1 .price{
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    color: #ff0036;
    overflow: hidden;
    margin: 10px auto;
}
#content4 .health .con2 div{
    margin-left: 13px;
}

/*打造爱巢部分*/
#content4 .home{
    width: 100%;height: 665px;
    margin-top: 20px;padding: 0;
}

#content4 .home .title{
    width: 100%;height: 31px;
    margin-top: 3px;padding: 0;
}
#content4 .home .title .color-mark{
    display: inline-block;
    width: 5px;height: 18px;
    background: #333333;
    vertical-align: middle;
}
#content4 .home .title .name{
    display: inline-block;
    width: 300px;height: 28px;
    color: #000000;
    vertical-align: middle;
    margin-top: 1.5px;
}
#content4 .home .title .name .name1{
    display: inline-block;
    color: #000000;
    font-size: 18px;
    vertical-align: middle;
}
#content4 .home .title .name .name2{
    display: inline-block;
    color: #000000;
    font-size: 14px;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 3px;
}
#content4 .home .con{
    width: 100%;height: 618px;
    margin:11px auto;
}
#content4 .home .con1{
    width: 235px;height: 618px;
    position: relative;
    float: left;
}
#content4 .home .con1 .img1{
    width: 235px;height: 618px;
    cursor: pointer;
    vertical-align: middle;
}
#content4 .home .con1 .detail{
    width: 218px;height: 64px;
    position: absolute;
    cursor: pointer;
    bottom: 20%;
}
#content4 .home .con1 .detail .left-title{
    width: 70px;height: 64px;
    overflow: hidden;
    float: left;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.9);
    bottom: 20%;
}
#content4 .home .con1 .detail .left-title span{
    display: inline-block;
    width: 36px;height: 50px;
    margin-top: 7px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
}
#content4 .home .con1 .img2{
    width: 32px;height: 32px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;right: 15px;
    cursor: pointer;
}

#content4 .home .con1 .detail .right-title{
    width: 128px;height: 64px;
    overflow: hidden;
    float: left;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.6);
    bottom: 20%;
}
#content4 .home .con1 .detail .right-title span{
    display: block;
    font-size: 18px;
    width: 100px;height: 21px;
    margin: 2px 15px;
    line-height: 39px;
    text-align: left;
}
#content4 .home .con2{
    width: 747px;height: 618px;
    float: right;
}

#content4 .home .con2 .row{
    width: 747px;height: 302px;
    margin: 0;padding: 0;
    overflow: hidden;
}

#content4 .home .con2 .row2{
    margin-top : 14px;
}

#content4 .home .con2 .row .c1{
    width: 236px;height: 302px;
    background: #ffffff;
}
#content4 .home .row1 .c1{
    float: left;
}
#content4 .home .row2 .c1{
    float: left;
}

#content4 .home .con2 .c1:hover{
    border: 1px solid #ff0036;
    box-sizing: border-box;
}

#content4 .home .con2 .c1 img{
    width: 185px;height: 185px;
    margin: 20px 28px 0px;
    vertical-align: middle;
}
#content4 .home .con2 .c1 .title{
    width: 135px;height: 40px;
    line-height: 20px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    margin: 13px auto;
    border: none;
}
#content4 .home .con2 .c1 .price{
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    color: #ff0036;
    overflow: hidden;
    margin: 10px auto;
}
#content4 .home .con2 div{
    margin-left: 13px;
}

/*户外出行部分*/
#content4 .outdoor{
    width: 100%;height: 665px;
    margin-top: 20px;padding: 0;
}

#content4 .outdoor .title{
    width: 100%;height: 31px;
    margin-top: 3px;padding: 0;
}
#content4 .outdoor .title .color-mark{
    display: inline-block;
    width: 5px;height: 18px;
    background: #333333;
    vertical-align: middle;
}
#content4 .outdoor .title .name{
    display: inline-block;
    width: 300px;height: 28px;
    color: #000000;
    vertical-align: middle;
    margin-top: 1.5px;
}
#content4 .outdoor .title .name .name1{
    display: inline-block;
    color: #000000;
    font-size: 18px;
    vertical-align: middle;
}
#content4 .outdoor .title .name .name2{
    display: inline-block;
    color: #000000;
    font-size: 14px;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 3px;
}
#content4 .outdoor .con{
    width: 100%;height: 618px;
    margin:11px auto;
}
#content4 .outdoor .con1{
    width: 235px;height: 618px;
    position: relative;
    float: left;
}
#content4 .outdoor .con1 .img1{
    width: 235px;height: 618px;
    cursor: pointer;
    vertical-align: middle;
}
#content4 .outdoor .con1 .detail{
    width: 218px;height: 64px;
    position: absolute;
    cursor: pointer;
    bottom: 20%;
}
#content4 .outdoor .con1 .detail .left-title{
    width: 70px;height: 64px;
    overflow: hidden;
    float: left;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.9);
    bottom: 20%;
}
#content4 .outdoor .con1 .detail .left-title span{
    display: inline-block;
    width: 36px;height: 50px;
    margin-top: 7px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
}
#content4 .outdoor .con1 .img2{
    width: 32px;height: 32px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;right: 15px;
    cursor: pointer;
}

#content4 .outdoor .con1 .detail .right-title{
    width: 128px;height: 64px;
    overflow: hidden;
    float: left;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.6);
    bottom: 20%;
}
#content4 .outdoor .con1 .detail .right-title span{
    display: block;
    font-size: 18px;
    width: 100px;height: 21px;
    margin: 2px 15px;
    line-height: 39px;
    text-align: left;
}
#content4 .outdoor .con2{
    width: 747px;height: 618px;
    float: right;
}
#content4 .outdoor .con2 .row{
    width: 747px;height: 302px;
    margin: 0;padding: 0;
    overflow: hidden;
}

#content4 .outdoor .con2 .row2{
    margin-top : 14px;
}

#content4 .outdoor .con2 .row .c1{
    width: 236px;height: 302px;
    background: #ffffff;
}
#content4 .outdoor .row1 .c1{
    float: left;
}
#content4 .outdoor .row2 .c1{
    float: left;
}

#content4 .outdoor .con2 .c1{
    width: 236px;height: 302px;
    float: left;
    background: #ffffff;
}
#content4 .outdoor .con2 .c1:hover{
    border: 1px solid #ff0036;
    box-sizing: border-box;
}

#content4 .outdoor .con2 .c1 img{
    width: 185px;height: 185px;
    margin: 20px 28px 0px;
    vertical-align: middle;
}
#content4 .outdoor .con2 .c1 .title{
    width: 135px;height: 40px;
    line-height: 20px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    margin: 13px auto;
    border: none;
}
#content4 .outdoor .con2 .c1 .price{
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    color: #ff0036;
    overflow: hidden;
    margin: 10px auto;
}
#content4 .outdoor .con2 div{
    margin-left: 13px;
}

#content4 .banner{
    width: 100%; height: 90px;
    overflow: hidden;
    margin: 15px auto;
}
#content4 .banner img{
    width: 1620px; height: 90px;
    vertical-align: middle;
    margin-left: -320px;
    overflow: hidden;
}

/*第五部分*/
#content5{
    width: 982px;height: 6078px;
    margin: 35px auto;
}
#content5 img{
    cursor: pointer;
}
#content5 .title{
    width: 100%;height: 43px;

}
#content5 .title .cont{
    width: 20%;height: 43px;
    line-height: 43px;
    margin: auto;
    font-size: 20px;
    text-align: center;
}
#content5 .title .cont span{
    color: #ff0036;
}
#content5 .con{
    width: 102%;height: 5980px;
    margin-top: 10px;
}
#content5 .con .row{
    width: 100%;height: 302px;
}
#content5 .con .row .c1{
    width: 191px;height: 284px;
    float: left;
    background: #ffffff;
    margin-right: 7px;
    margin-bottom: 7px;
}
#content5 .con .c1:hover{
    border: 1px solid #ff0036;
    box-sizing: border-box;
}

#content5 .con .c1 img{
    width: 185px;height: 185px;
    margin: 7px 3px 0px;
    vertical-align: middle;
}
#content5 .con .c1 .title{
    width: 135px;height: 40px;
    line-height: 20px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
    margin: 13px auto;
    border: none;
}
#content5 .con .c1 .price{
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    color: #ff0036;
    overflow: hidden;
    margin: 10px auto;
}

.end-show{
    width: 100%; height: 40px;
    background:  url("../image/tmall/end/end.png") no-repeat center ;
}


/*结尾部分*/
#end{
    width: 100%; height: 590px ;
    margin: 10px auto;
    background: url("../image/tmall/end/background.png") no-repeat center bottom;
    background-size: 1702px 450px;
    background-color: #ffffff;
}

#end .tmall-ensure{
    width: 100%;height: 100px;
    background: url("../image/tmall/end/ensure.jpg") no-repeat left ;
    margin: 25px auto;
}
#end .desc{
    width: 1065px;height: 220px;
    background-color: #ffffff;
    margin: 25px auto;
    border-top: 1px solid #ededed;
    overflow: hidden;
}
#end .desc .logo{
    width: 70px;height: 30px;
    vertical-align: middle;
    margin-top: 8px;
    margin-left: 45px;
}

#end .desc ul{
    width: 155px;height: 164px;
    margin-left: 50px;
    margin-top: 18px;
    float: left;
}
#end .desc ul .title{
    font-size: 16px;
    color: #646464;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
#end .desc ul li a{
    font-size: 12px;
    color: #8b8b8b;
    line-height: 20px;
    text-align: left;
    text-decoration-line: none;
}
#end .desc .d5 img{
    width: 105px;
    height: 105px;
    vertical-align: middle;
}

#end .footer{
    width: 1065px;height: 242px;
    border-top: 2px solid #ff0036;
    background: #000;
    margin: -25px auto;
}
#end .footer .p{
    color: #ffffff;
    font-size: 12px;
    margin: 10px auto;
}
#end .footer .p a{
    color: #ffffff;
    text-decoration-line: none;
}

#end .footer .f{
    width: 100%;height: 150px;
    margin:auto;
}
#end .footer .f div{
    width: 100%; height: 20px;
}

#end .footer .f .two{
    margin-top: 8px;
}

#end .footer .f span{
    display: inline-block;
    float: left;
    font-size: 12px;
    color: #a4a4a4;
    margin-right: 50px;
}

#end .footer .f span a{
    text-decoration-line: none;
    color: #a4a4a4;
}
#end .footer .f .two img{
    display: inline-block;
    float: left;
    width: 20px;height: 20px;
    vertical-align: middle;
}
#end .footer .f .five span{
    display: inline-block;
    float: left;
    font-size: 12px;
    color: #686868;
}
#end .footer .f .six{
    margin-top: 10px;
}
#end .footer .f .six img{
    float: left;
    width: 80px; height: 30px;
    margin-right: 10px;
}


@media screen and (min-width: 1230px){
    .col-l-1{width: 2.5%;}
    .col-l-2{width: 5%;}
    .col-l-3{width: 7.5%;}
    .col-l-4{width: 10%;}
    .col-l-5{width: 12.5%;}
    .col-l-6{width: 15%;}
    .col-l-7{width: 17.5%;}
    .col-l-8{width: 20%;}
    .col-l-9{width: 22.5%;}
    .col-l-10{width: 25%;}
    .col-l-11{width: 27.5%;}
    .col-l-12{width: 30%;}
    .col-l-13{width: 32.5%;}
    .col-l-14{width: 35%;}
    .col-l-15{width: 37.5%;}
    .col-l-16{width: 40%;}
    .col-l-17{width: 42.5%;}
    .col-l-18{width: 45%;}
    .col-l-19{width: 47.5%;}
    .col-l-20{width: 50%;}
    .col-l-21{width: 52.5%;}
    .col-l-22{width: 55%;}
    .col-l-23{width: 57.5%;}
    .col-l-24{width: 60%;}
    .col-l-25{width: 62.5%;}
    .col-l-26{width: 65%;}
    .col-l-27{width: 67.5%;}
    .col-l-28{width: 70%;}
    .col-l-29{width: 72.5%;}
    .col-l-30{width: 75%;}
    .col-l-31{width: 77.5%;}
    .col-l-32{width: 80%;}
    .col-l-33{width: 82.5%;}
    .col-l-34{width: 85%;}
    .col-l-35{width: 87.5%;}
    .col-l-36{width: 90%;}
    .col-l-37{width: 92.5%;}
    .col-l-38{width: 95%;}
    .col-l-39{width: 97.5%;}
    .col-l-40{width: 100%;}

    #site-nva .container{
        width: 1230px;
    }

    #header .context{
        width: 1230px;
    }
    #header .mallSearch{
        width: 625px;
    }
    #header .search{
        width: 485px;height: 36px;
    }
    #content1{
        width: 1230px;height: 536px;
        background: #ffffff;
        margin: auto;
    }
    #content2{
        width: 1230px;
    }
    #content2 .left{
        display: block;
        margin-right: 12px;
    }
    #content2 .right{
        float: right;
        margin-left: 12px;
    }

    #content3,#content3 .row1,#content3 .row2,#content3 .row3{
        width: 1230px;
    }
    #content3 .row3 .brand{
        width: 1107px;
    }
    #content4{
        width: 1230px;
    }
    #content4 .T-mart .con2{
        width: 995px;height: 618px;
        float: right;
    }
    #content4 .T-mart .con2 .row{
        width: 996px;height: 302px;
    }
    #content4 .HK .con2{
        width: 995px;height: 618px;
        float: right;
    }
    #content4 .HK .con2 .row{
        width: 996px;height: 302px;
    }
    #content4 .beauty .con2{
        width: 995px;height: 618px;
        float: right;
    }
    #content4 .beauty .con2 .row{
        width: 996px;height: 302px;
    }
    #content4 .electrical .con2{
        width: 995px;height: 618px;
        float: right;
    }
    #content4 .electrical .con2 .row{
        width: 996px;height: 302px;
    }

    #content4 .health .con2{
        width: 995px;height: 618px;
        float: right;
    }
    #content4 .health .con2 .row{
        width: 996px;height: 302px;
    }
    #content4 .home .con2{
        width: 995px;height: 618px;
        float: right;
    }
    #content4 .home .con2 .row{
        width: 996px;height: 302px;
    }
    #content4 .outdoor .con2{
        width: 995px;height: 618px;
        float: right;
    }
    #content4 .outdoor .con2 .row{
        width: 996px;height: 302px;
    }

    #content4 .banner img{
        margin-left: -200px;
    }
    #content5{
        width: 1230px;height: 6400px;
        margin: 35px auto;
    }
    #content5 .con .row{
        width: 100%;height: 302px;
        margin-top: 10px;
    }
    #content5 .con .row .c1{
        width: 236px;height: 302px;
        float: left;
        background: #ffffff;
        margin-right: 13px;
        margin-bottom: 16px;
    }
    #content5 .con .c1 img{
        width: 185px;height: 185px;
        margin: 20px 28px 0px;
        vertical-align: middle;
    }

    #end .tmall-ensure{
        width: 1150px;height: 100px;
        background: url("../image/tmall/end/ensure.jpg") no-repeat;
        margin: 25px auto;
    }
    #end .desc{
        width: 1000px;
    }
    #end .desc ul{
        width: 15%;height: 164px;
        margin-left: 50px;
        margin-top: 18px;
        float: left;
    }
    #end .footer{
        width: 1000px;
    }
}
