html{
    font-size: 13.33333333vw;
}

*{
    box-sizing:border-box;
}
body{
    margin: 0;
    padding:0;
}
.ding{
    width: 100vw;
    height: 1.8rem;
    background: rgb(255, 0, 54);
}
.ding-top{
    position: relative;
    width: 100%;
    height: 0.88rem;
}
.ding-top img{
    position:absolute;
    left: 0;
    top: 0;
    bottom:0;
    right: 0;
    margin: auto;
    width: 2.37rem;
    height: 0.41rem;
}

.ding-bottom{
    width: 100%;
    height: .92rem;
}