body{
    margin: 0px;
    padding: 0px;
}
/*一些必备的*/
h1,h2,h3,h4,h5,h6,ul,li,strong,p,em,a,span,b{
    padding:0;
    margin:0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    color: black;
}
@font-face {
    font-family: 'iconfont';
    src: url('../iconfont.eot'); /* IE9*/
    src: url('../iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/*一些必备的*/
/*首页*/
.box1{
    width: 100%;
    height: 41px;
    background: #FF729D;

}
.box1 .center{
    width: 982px;
    height: 32px;
    margin: auto;
}
.box1 .center .center-left{
    float: left;
    width: 218px;
    height: 32px;
    margin-top: 5px;


}
.box1 .center .center-left .em{
    float: left;
    width:84px;
    height: 16px;
    line-height:28px;
}
.box1 .center .center-left .a1{
    float: left;
    width: 65.6px;
    height: 16px;
    line-height:28px;
}
.box1 .center .center-left .a2{
    float: left;
    width: 67.2px;
    height: 16px;
    line-height:28px;
}
.box1 .center a{
    font-size: 12px;
    color: white;
}
.box1 .center em{

    font-size: 12px;
    color: white;
}
.box1 .center .center-right{
    float: right;
    width: 528.98px;
    height: 32px;
    margin-top: 5px;

}

.box1 .center .center-right .center-right_1{
    width:200px ;
    height: 40px;
    float: left;

}

.box1 .center .center-right .center-right_1 a{
    float: left;
    margin-right: 20px;
    line-height:28px;
}
.box1 .center .center-right .center-right_1 a:hover{
    color: orange;
}
.box1 .center .center-right .center-right_2{
    width:291.74px ;
    height: 40px;
    float: right;

}
.box1 .center .center-right .center-right_2 a{
    float: left;
    margin-right: 20px;
    line-height:28px;
}
.box1 .center .center-right .center-right_2 a:hover{
    color: #FF96C9;
}
/*首页*/
/*搜索410 625*/
.box2{
    width:100%;
    height: 130px;
    background: white;
    margin:auto;
}
.box2_{
    width: 982px;
    height:100%;
    margin: auto;
}
.box2-left{
    float: left;
    width: 240px;
    height: 130px;
    background: url("../Imgs/tianmaologo.png");
    background-size: cover;
    margin-top:-5px;

}

.box2-center{
    float:left;
    width: 410px;
    height: 106px;
    margin-left:100px;
    margin-top:15px;
    overflow: hidden;
}
.box2-center_1 {
    width: 100%;
    height: 40px;
    margin-top: 30px;
    font-family: 'Microsoft YaHei';
    font-size: 14px;

}
.box2-center_1 input{
    width: 80%;
    height: 35px;
    float: left;

}
.box2-center_1 .search{
    width: 20%;
    height: 36px;
    float: left;
    background: red;
    border: 2px solid red;
    color: white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}
.box2-center_2{
    width: 625px;
    height: 28px;
    margin: auto;

}
.box2-center_2 ul{
    display: block;
    width: 100%;
    height: 28px;
    float: left;
    margin-left: -50px;
    overflow: hidden;
}
.box2-center_2 li{
    float: left;
    margin-left: 10px;
    line-height: 35px;
}
.box2-center_2 .a1{
    color: darkgrey;
}
.box2-center_2 .a2{
    color: pink;
}
.box2-center_2 b{
    color: darkgrey;
    margin-left: 5px;
}
/*搜索*/
/*首页开头-3*/
.box_3{
    width: 100%;
    height: 36px;
    margin: auto;
}
.box3{
    width: 982px;
    height: 36px;
    margin: auto;
}
.box3 ul{
    width: 200px;
    height: 36px;
    float: left;
    padding: 0;
    margin-left:25px;
    margin-top:-5px;
}
.box3 li{
    width: 100px;
    height: 36px;
    float: left;
    text-align: center;
    line-height: 32px;
}
.box3 .l1{
    color: white;
    background: red;
}
.box3:hover .l1{
    background:darkgray;
}
.box3:hover .l2{
    background: red;
}
.box3 .l2{
    color: white;
    background: black;
}
.l1:hover{
    background: red;
}
/*782*/
.box3 .box3_2{
    float: left;
    width: 680px;
    height: 36px;
    margin-top: -5px;
    overflow: hidden;
}
.box3 .box3_2 .a1{
    float: left;
    width: 80px;
    height: 35px;
    margin:2px auto;
}
.box3 .box3_2 .a2{
    float: left;
    width: 64px;
    height: 35px;
    margin:2px auto;
}
.box3_img1{
    display: block;
    float: left;
    width: 100px;
    height: 30px;
    background: url("../Imgs/tianmaochaoshi.png") center;
    background-size: cover;
    margin:5px auto;
}
.box3_img2{
    display: block;
    float: left;
    width: 100px;
    height: 30px;
    margin: 5px auto;
    background: url("../Imgs/tianmaoguoji.png") center;
    background-size: cover;
}
.box3 .box3_2 a{
    line-height:36px;
    text-align: center;
}
.box3 .box3_2 a:hover{
    color:red;
}
/*首页开头-3*/
/*轮播*/
.box4_5{
    width:100%;
    height:900px;
    background: url("../Imgs/lunbodicengshang_5.jpg") no-repeat;
    background-size: cover;
    margin: auto;
}
.box4{
    width:100%;
    height:500px;
    background-size: cover;
    margin-top: -5px;
    position: relative;

}
.box4-center-left{
    float: left;
    width: 303px;
    height:500px;
    margin: auto;
    position: absolute;
    left: 100px;
    top: 0px;
    z-index: 3;
}
.box4-center-left .box4-center-left_1{
    float: left;
    width: 200px;
    height: 499.2px;
    background: rgba(63, 63, 63,0.59);


}
.box4-center-left li{

    width: 200px;
    height: 31.2px;
    padding-left: 20px;
}
.box4-center-left a{
    color: white;
    line-height: 35px;

}
.box4-center-left b{
    color: white;

}

.box4-center-right{
    float: left;
    width: 1330px;
    height:499.2px;
    margin: auto;
    position: absolute;
    left: 100px;
    top: 0px;
    z-index: 2;
}
.box4-center-right .xiegang{
    width:400px;
    height: 10px;

    position: relative;
    left:450px;
    top: 450px;
    z-index: 4;
}
.xiegang .btn{
    float: left;
    width: 60px;
    height:8px;
    margin: auto;
    margin-right: 15px;
    background: rgba(63, 63, 63,0.59);

}
.box4-center-right-img1{
    width: 1330px;
    height:499.2px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("../Imgs/lunboxin1.jpg") no-repeat center center;
    background-size: cover;

}
.box4-center-right-img1-1{
    width: 220px;
    height:234.6px;
    position: absolute;
    right: 0px;
    top: 10px;
    background: url("../Imgs/lunboxin1_1.jpg") no-repeat;
    background-size: cover;

}
.box4-center-right-img1-2{
    width: 220px;
    height:234.6px;
    position: absolute;
    right: 0px;
    bottom: 10px;
    background: url("../Imgs/lunboxin1_2.jpg") no-repeat ;
    background-size: cover;

}
.box4-center-right-img2{
    width: 1330px;
    height:499.2px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("../Imgs/lunbo2.jpg") no-repeat center center;
    background-size: cover;
}
.box4-center-right-img3{
    width: 1330px;
    height:499.2px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("../Imgs/lunbo3.jpg") no-repeat center center;
    background-size: cover;
}
.box4-center-right-img4{
    width: 1330px;
    height:499.2px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("../Imgs/lunbo4_wps.jpg") no-repeat center center;
    background-size: cover;
}
.box4-center-right-img5{
    width: 1330px;
    height:499.2px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("../Imgs/lunboda.jpg") no-repeat center center;
    background-size: cover;
}
/*轮播*/
.box4--5{
    width: 100%;
    height: 50px;
    margin: auto;
}
/*品牌闪购*/
.box5{
    width: 934px;
    height:380px;
    margin: auto;
    overflow: hidden;
}
.box5_1{
    float: left;
    width: 234px;
    height: 371px;
    margin-right:55px;
    background: white;
}
.box5_1_1{
    width: 234px;
    height: 55px;
    background: white;
}
.box5_1_2{
    width: 234px;
    height: 316px;
    background: url("../Imgs/pinpaishangou.jpg");
    background-size: cover;

}
.box5_1_2:hover{
    opacity: 0.4;
}

.box5_1_1 span{
    font-size: 19px;
    line-height: 50px;
}
.box5_1_1 a{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../Imgs/youjiantou.png");
    background-size: cover;
}
.box5_2{
    float: left;
    width: 500px;
    height: 371px;
    margin-right: 55px;
    background: white;
}
.box5_2_1{
    width: 485px;
    height: 55px;
    background: white;
}
.box5_2_1 span{
    font-size: 19px;
    line-height: 50px;
}
.box5_2_1 a{
    float: right;
    display: inline-block;
    width: 80px;
    height: 35px;
    background: url("../Imgs/youjiantou.png") no-repeat right;
    line-height:30px;
    text-align: left;
    margin-top: 12px;
}
.box5_2_2{
    width: 500px;
    height: 316px;
    background: url("../Imgs/jumingpin.jpg");
    background-size: cover;
}
.box5_2_2:hover{
    opacity: 0.4;
}
.box5_3{
    float: left;
    width: 485px;
    height: 371px;
    background: white;
}
.box5_3_1{
    width: 485px;
    height: 55px;
    background: white;
}
.box5_3_1 span{
    font-size: 19px;
    line-height: 50px;

}
.box5_3_1 a{
    float: right;
    display: inline-block;
    width: 80px;
    height: 35px;
    background: url("../Imgs/youjiantou.png") no-repeat right;
    line-height:30px;
    text-align: left;
    margin-top: 12px;
}
.box5_3_2{
    width: 485px;
    height: 316px;
    background: url("../Imgs/pinpaihuodong.jpg");
    background-size: cover;
}
.box5_3_2:hover{
    opacity: 0.4;
}
/*品牌闪购*/
/*品牌logo展示*/
.box_6{
    width: 100%;
    height: 400px;
    background: rgba(213, 213, 213, 0.28);
    margin: auto;
}
.box6{
    width: 1064px;
    height: 100%;
    margin: auto;
    padding-top:40px;
    overflow: hidden;
}
.box6 .row{
    float: left;
    width: 100%;
    height: 122px;
}
.box6_1{
    float: left;
    width: 133px;
    height: 122px;
    cursor: pointer;
    background: white;
    border: 1px solid darkgray;
    box-sizing: border-box;
}
.box6-1{
    height: 122px;
    cursor: pointer;
    background: white;
    border: 1px solid darkgray;
    box-sizing: border-box;
    position: relative;
}
.box6 .box6-1 .box6_1-1{
    width:100px;
    height:50px;

    margin-top: 36px;
    margin-left: 17.5px;
}

.box6_1-1  img{
    display:block;
    width:100px;
    height:50px;
    margin: auto;
}
.box6_2{
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background: black;
    display:none;
}
.box6_2 .youhui{
    float: left;
    width:133px;
    height:61px;
    background: black;
    text-align: center;
}
.box6_2 .enter{

    float: left;
    width:90px;
    height:25px;
    background: red;
    border-radius:80px;
    margin-left:20px;
    text-align: center;
}
.box6_2 .youhui span{
    color: white;
    text-align: center;
    line-height: 100px;
}
.box6_2 .enter span{
    color: white;
    text-align: center;
    line-height:25px;
}
.box6-1:hover .box6_2{
    display: block;
}
.box6_1:hover .box6_1-1{
    display: none;
}

/*品牌logo展示*/
/*首页开头-3*/
/*新的天猫超市*/
.tianmaonamebox{
    width: 100%;
    height:65px;
    padding-top: 15px;
    background: rgba(213, 213, 213, 0.28);
}

.tianmaoname{
    width:994.7px ;
    height: 31px;
    margin: auto;
}
.box7_1-1 img{
    width: 214px;
    height: 25px;
}
.box7_1-1{
    float: left;
    width: 214px;
    height: 25px;
}
.box7_1-2{
    float: right;
    width: 800px;
    height: 31px;
}
.box7_1-2 a{
    display: inline-block;
    float: right;
    margin-left: 25px;
    line-height:30px;
}
.box7_1-2 a:hover{
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
}



.container{
    width: 746px;
    height: 618px;
    padding: 0;
    background: #f5f5f5;
}
.row{
    width: 100%;
    height: 50%;
    float: left;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #f5f5f5;
}
.row div{
    float: left;
    height: 100%;
    padding: 0;
    margin: 0;

}


.row .m1 .center{
    width: 482px;
    height: 294px;
    margin-left:15px;

    margin-bottom: 15px;
    background: white;


}
.row .m2 .center{
    width: 233.75px;
    height: 294px;
    margin-left: 15px;
    margin-bottom: 15px;
    background: white;
}

.m1 .center .top{
    width: 100%;
    height: 64px;
    float: left;
    background: yellow;

}
.top-left{
     width: 50%;
     height: 100%;
     float: left;
    background: #1b6d85;
 }
.top-left span{
      display: block;
      width: 50%;
      height: 50%;
      margin: auto auto;
      margin-top: 16px;
      font-size: 20px;
  }
.top-right span{
    display: block;
    width: 50%;
    height: 50%;
    margin: auto auto;
    margin-top: 16px;
    font-size: 20px;
}
.top-right{
    width: 50%;
    height: 100%;
    float: left;
    background: orange;
}
.m1 .center .bottom{
    width: 100%;
    height:225px;
    float: left;
}
.m1 .center .bottom .bottom-left{
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}
.m1 .center .bottom .bottom-left .im2{
    display: block;
    width:291px;
    height: 87px;
    position: absolute;
    left:0px;
    top:80px;
    background: url("../Imgs/dajiantou.png");
    background-size: cover;
    z-index: 4;
}
.m1 .center .bottom .bottom-left .im1{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left:15px;
    top:80px;
    z-index: 5;
}
.m1 .center .bottom  .bottom-left .sp1{
    display: block;
    width:100px;
    height:30px;
    position: absolute;
    left:50px;
    top: 80px;
    z-index: 5;
    font-size: 18px;
}
.m1 .center .bottom  .bottom-left .sp2{
    display: block;
    width:100px;
    height:30px;
    position: absolute;
    left:15px;
    top:120px;
    z-index: 5;
    font-size: 18px;
}
.m1 .center .bottom .bottom-right{
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}
.m1 .center .bottom-right img{
    width: 200px;
    height: 200px;
    position: absolute;
    left:-10px;
    top: 20px;
    z-index:2;
}


.m2 .center{
    float: right;
    width: 221.25px;
    height:289px;
    margin-left: 20px;
    margin-bottom: 20px;

}
.m2 .center .top{
    width: 185px;
    height: 185px;
    margin-top:10px;
    margin-left: 25px;

}
.m2 .center .top img{
    width: 185px;
    height: 185px;
}
.m2 .center .md{
    width: 185px;
    height:40px;
    margin-top: 10px;
    margin-left: 20px;
}
.m2 .center .md span{
    display: block;
    width: 147px;
    height:40px;
    margin: 0 0 19px 19px;
}
.m2 .center .bottom{
    width: 30px;
    height: 30px;
    margin-bottom:10px;
    margin-left: 20px;
}
.m2 .center .bottom span{
    display: block;

    margin: 7px 7px 75px 75px;
    color: #ff325b;
    text-align: center;
}
.tianmaoboxda{
    width: 100%;
    height: 618px;
    background: rgba(213, 213, 213, 0.28);
}
.tianmaobox{

    width:994.7px ;
    height: 618px;
    margin: auto;

}
.tianmaobox-left{
    height: 100%;
    float: left;
    position: relative;

}
.tianmaobox-right{
    height: 100%;
    float: left;

}
/*左侧图片*/
.tianmaobox-left img{
    width: 250px;
    height: 618px;
}
.box7_2-left_1{

    width: 198px;
    height: 64px;
    background: rgba(0, 0, 0, 0.69);
    position: absolute;
    left:0px;
    top:430px;

}
.box7_2-left_1-1{
    float: left;
    width: 70.4px;
    height: 64px;
    background: black;

}
.box7_2-left_1-1 span{
    width: 36px;
    height: 48px;

    display:inline-block;

    margin: auto;
    margin-left: 10px;


    color: white;
    font-size: 18px;
    line-height: 30px;
    text-align: center;


}
.box7_2-left_1-2{
    width: 127px;
    height: 64px;
    float:right;
}
.box7_2-left_1-2 span{
    width: 114px;
    height: 24px;
    margin: auto;
    display: inline-block;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 35px;
}
.box7_2-left_2{
    width:32px;
    height: 32px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.box7_2-left_2 img{
    width:32px;
    height: 32px;
}
/*左侧图片*/
/*新的天猫超市*/
/*天猫国际*/

/*天猫国际*/
.m2 .box7_2-left-fu-1{/*1号大框体*/
    float: left;
    width: 250px;
    height: 294px;
    position: relative;
    cursor: pointer;
    margin-bottom: 6px;
}
.box7_2-left-fu-1 img{/*1号大框体背景图*/
    width: 250px;
    height: 294px;
}
.box7_2-left-fu-1 .box7_1-left-fu-2{/*1号大框体黑色大图*/

    width: 198px;
    height: 64px;
    background: rgba(0, 0, 0, 0.69);
    position: absolute;
    left: 0px;
    top: 150px;
    border: 2px solid black;
    box-sizing: border-box;

}
.box7_2-left-fu-1 .box7_1-left-fu-2_1{/*1号大框体黑色左小图*/
    float: left;
    width: 70.4px;
    height: 64px;
    background: black;


}
.box7_2-left-fu-1 .box7_1-left-fu-2 .box7_1-left-fu-2_1 span{
    width: 36px;
    height: 48px;

    display:inline-block;

    margin: auto;
    margin-left: 10px;


    color: white;
    font-size: 18px;
    line-height: 30px;
    text-align: center;


}
.box7_1-left-fu-2 .box7_1-left-fu-2_2{/*1号大框体右小图*/
    width: 100px;
    height: 64px;
    float:right;
}
.box7_1-left-fu-2 .box7_1-left-fu-2_2 span{
    width: 114px;
    height: 24px;
    margin-left:-25px;
    display: inline-block;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 35px;
}
.box7_1-left-fu-2 .box7_1-left-fu-3{/*1号大框体右下角图*/
    width:32px;
    height: 32px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.box7_1-left-fu-2 .box7_1-left-fu-3 img{
    width:32px;
    height: 32px;
}


/*天猫国际*/

/*给老公*/
.box8{
    width:100%;
    height: 90px;
    margin: auto;
    background: rgba(213, 213, 213, 0.28);
    margin: auto;
}
.tip{
    width: 982px;
    height: 90px;
    margin: auto;
}

.tip img{
    width: 100%;
    height: 90px;
    margin: auto;
}
/*给老公*/
/*猜你喜欢*/
/*猜你喜欢*/
.box9{
    width:100%;
    height:3970px;
    background: rgba(213, 213, 213, 0.28);
    margin: auto;
}
.box9-tip{
    width: 982px;
    height: 43px;
    margin: auto;
}
.box9-tip_1{
    width: 130px;
    height: 43px;
    margin: auto;
}
.box9-tip span{
    text-align: center;
}
.box9-tip-1{
    float: left;
    width: 30px;
    height:20px ;
    border-bottom: 2px solid darkgray;

}
.box9-tip-2{
    float: left;
    width: 70px;
    height: 43px;
    margin: auto;


}
.box9-tip-2 span{
    line-height: 40px;
    text-align: center;
}
.box9-tip-3{
    float: left;
    width: 30px;
    height:20px ;
    border-bottom: 2px solid darkgray;

}
.box9-content{
    width: 982px;
    height:3920px;
    margin: auto;
}
.caini{
    float: left;
    height: 284px;

}
.caini-1{
    width: 90%;
    height: 95%;
    margin: auto;
    background: white;
}
.box9-content .box9-content-1:hover{
    border: 1px solid red ;
    box-sizing: border-box;
}
.box9-content-1{/*这个是总的框体大小*/
    float: left;
    width: 255px;
    height: 306.5px;
    margin-top:20px;
    background: white;
    margin-left: 10px;

}
.box9-content-1:hover img{
    opacity: 0.4;
}
.box9-content-1 img{/*这个是总的框体大小对应的照片*/
    display: block;
    width: 185px;
    height: 185px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;


}
.box9-content-1-1{
    width: 187px;
    height: 187px;
    margin: auto;
}
.box9-content-1-1 img{
    width: 187px;
    height: 187px;
    margin: auto;
}
.box9-content-1-1-2{/*这个是文字框体*/
    width: 187px;
    height: 40px;
    margin: 5px auto;
    text-align: center;

}
.box9-content-1-1-3{/*这个是价格框体*/
    width: 100%;
    height: 17.6px;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    color: orange;
}

/*猜你喜欢*/
/*结束*/
/*结束logo*/
.box_10{
    width:100%;
    height: 70px;
    background: rgba(213, 213, 213, 0.28);
    margin: auto;
}
.box10{
    width: 982px;
    height: 70px;
    margin: auto;

}
.box10 img{
    display: block;
    width: 124px;
    height: 70px;
    margin: auto;
}
/*结束logo*/
/*结束*/
.box11{
    width: 990px;
    height: 602.2px;
    background: url("../Imgs/dicengbejing-3.jpg") no-repeat center;
    background-size: cover;
    margin: auto;
}
.box11-1{
    float: left;
    width: 100%;
    height: 100px;
    margin-left: 100px;

}
.box11-1 img{
    display: block;
    width: 100%;
    height: 100%;

}
.box11-2{
    float: left;
    width: 100%;
    height: 270px;
    margin-left: 100px;
    border-top: 1px solid darkgray ;

}
.box11-2 ol{
    width: 100%;
    height: 255px;

}
.box11-2 li{
    float: left;
    width: 226px;
    height: 255px;
    margin-left: 25px;
}
.box11-2 li span{
    display: block ;
    float: left;
    width: 226px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 10px;
    line-height: 35px;
}
.box11-2 li a{
    display: block;
    float: left;
    width: 115px;
    height: 20px;
    font-size: 14px;
    margin:5px 10px;
    color: #8b8b8b;

}
.bxo11-2-1{
    width: 105px;
    height: 105px;
    margin: auto;
}
.box11-2-1 img{

    width: 105px;
    height: 105px;

}
.box11-3{
    float: left;
    width: 1330px;
    height: 50px;
    margin-top: -45px;
    margin-left: 100px;
    border-bottom: 3px solid red;
}
.box11-3 img{
    float: left;
    width: 136px;
    height: 50px;
    display: block;
    margin-left: 50px;
}
.box11-4{
    float: left;
    width: 1330px;
    height: 225px;
    background:black;
    margin-left: 100px;
}
.box11-4_1 {
    width: 1190px;
    height: 34.8px;
    float: left;
    margin-top: 10px;
}
.box11-4_1 a{
    color: white;

}
.box11-4_2 {
    width: 1190px;
    height: 34.8px;
    float: left;

}
.box11-4_2 a{
    color: white;

}
.box11-4_3{
    float: left;
    width: 1330px;
    height: 150.6px;
}
.box11-4_3 span{
    color: #8b8b8b;
    font-size: 12px;
}
.box11-4_3 a{
    color: darkgray;
    color: #8b8b8b;
    font-size: 12px;
}.box11-4_4 span{
     color: darkgray;
 }
.box11-4_4 a{
    color: darkgray;
}
.box11-4_5 span{
    color: darkgray;
}
.box11-4_5 a{
    color: darkgray;
}
.box11-4_6 span{
    color: darkgray;
}
.box11-4_6 a{
    color: darkgray;
}
.box11-4_7 span{
    color: darkgray;
}
.box11-4_7 a{
    color: darkgray;
}
.box11-4_3-2 img{
    width: 20px;
    height: 20px;
}
.box11-4_3-6{
    width: 1330px;
    height: 45px;
}
.box11-4_3-6 img{
    display: block;
    float: left;
    width: 73px;
    height: 30px;
}
/*结束*/
/*结束*/


/*新的天猫超市*/
@media screen and (min-width: 1220px){
    .box1 .center{
        width: 1230px;
        height: 32px;
        margin: auto;
    }
    .box1 .center .center-left{
        float: left;
        width: 218px;
        height: 32px;
        margin-top: 5px;


    }
    .box1 .center .center-right{
        float: right;
        width: 528.98px;
        height: 32px;
        margin-top: 5px;

    }
    .box2_{
        width: 1230px;
        height:100%;
        margin: auto;
    }
    .box2-center{
        float:left;
        width: 625px;
        height: 106px;

    }
    .box3{
        width: 1260px;
        height: 36px;
        margin: auto;
    }
    .box3 .box3_2{
        float: right;
        width: 1030px;
        height: 36px;
        margin-top: -5px;
        overflow: hidden;
    }
    .box5{
        width: 1330px;
        height:380px;
        margin: auto;
        overflow: hidden;
    }
    .box6{
        width: 1330px;
        height:400px;
        margin: auto;
        padding-top:40px;
        overflow: hidden;
    }

    .tianmaoname{
        width:1330px ;
        height: 50px;
        margin: auto;

    }
    .tianmaobox{

        width:1330px;
        margin: auto;

    }
    .row .m1 .center{
        width: 502px;
        height: 294px;
        margin-left:30px;

        margin-bottom: 15px;
        background: white;


    }
    .tip{
        width: 1230px;
        height: 90px;
        margin: auto;
    }
    .box9-tip{
        width:1230px;
        height: 43px;
        padding-top: 30px;
        padding-bottom: -60px;
        margin: auto;
    }
    .box9-content{
        width: 1330px;
        height:333px;
        margin: auto;

    }
    .caini{
        height: 319px;
    }
    .box10{
        width: 1230px;
        height: 70px;
        margin: auto;

    }
    .box11{
        width: 100%;
        height: 602.2px;
        background: url("../Imgs/dicengbejing-3.jpg") no-repeat center;
        background-size: cover;
        margin: auto;
    }
    .box11-1{
        float: left;
        width: 1330px;
        height: 100px;
        margin-left: 100px;

    }
    .box11-2{
        float: left;
        width: 1330px;
        height: 270px;
        margin-left: 100px;
        border-top: 1px solid darkgray ;

    }

    .container{
        width: 995px;
        height: 618px;
        overflow: hidden;
    }

}