/*响应式图片  1260 394*/
/* 间隔*/
.white{
    margin-top: 30px;
}

.responsive-box{
    width: 985px;
    height: 390px;
    border: 1px solid darkmagenta;
    margin: auto;
    box-sizing: border-box;
}
/* 标题*/
.left-top{
    width: 234px;
    height: 55px;
    border: 1px solid #ccc;
    float: left;
    background-color: white;
    box-sizing: border-box;
    display: none;
}
.left-middle{
    width: 485px;
    height: 55px;
/*    border: 1px solid #ccc;*/
    background-color: white;
    float: left;
    /* margin-left: 12px;*/
    box-sizing: border-box;
}
.left-last{
    width: 485px;
    height: 55px;
/*    border: 1px solid #ccc;*/
    background-color: white;
    float: left;
     margin-left: 12px;
    box-sizing: border-box;
}


/*图片边框 */
.left-img-box{
    width: 234px;
    height: 316px;
    /*border: 1px solid green;*/
    box-sizing: border-box;
    float: left;
    display: none;
}
.middle-img-box{
    width: 484.5px;
    height: 316px;
/*    border: 1px solid green;*/
    box-sizing: border-box;
  /*  margin-left: 12px;*/
    float: left;
}
.right-img-box{
    width: 484.5px;
    height: 316px;
    /*    border: 1px solid green;*/
    box-sizing: border-box;
      margin-left: 12px;
    float: left;
}
/*标题内容格式*/
.content-text{
    font-size: 18px;
    color: #333;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
}
.content-smallFont{
    font-size: 14px;
    color: #333;
    float: left;
    margin-top: 19px;
    margin-left: 5px;
}
.more{   /*42*/
    width: 58px;
    height: 54px;
    /* border: 1px solid yellow;*/
    box-sizing: border-box;
    margin-top: -40px;
    margin-right: 15px;
    float: right;
}
.more2{   /*42*/
    width: 58px;
    height: 54px;
    /*  border: 1px solid yellow;*/
    box-sizing: border-box;
    margin-bottom: 14px;
    margin-right: 15px;
    float: right;
}
.more-left{
    width: 40px;
    height: 54px;
    /*border: 1px solid yellow;*/
    box-sizing: border-box;
    float: left;
}
.more-right{
    width: 16px;
    height: 54px;
    /*border: 1px solid green;*/
    box-sizing: border-box;
    float: right;
}
.more-right img{
    width: 16px;
    height: 16px;
    margin-top: 20px;
    background-size: cover;
}
.more-left a{
    font-size: 16px;
    color: #666;
    text-decoration: none;
    line-height: 54px;
}



/*插入图片*/
.left-img{
    width: 234px;
    height: 316px;
    background: url("../image/响应式图片/002.webp") no-repeat;
    background-size: cover;
}
.middle-img{
    width: 485px;
    height: 316px;
    background: url("../image/响应式图片/001.webp") no-repeat;
    background-size: cover;
}
.right-img{
    width: 485px;
    height: 316px;
    background: url("../image/响应式图片/003.webp") no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1230px){
    .responsive-box{
        width: 1230px;
    }
    .left-top{
        display: block;
    }
    .more{
        display: block;
    }
    .left-img-box{
        display: block;
    }
    .left-middle{
        margin-left: 12px;
    }
    .middle-img-box{
        margin-left: 12px;
    }

}


