.top-bottom-item-pic1{
    width: 100%;
    height: 100%;
    background: url("../image/logo1.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic2{
    width: 100%;
    height: 100%;
    background: url("../image/logo2.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic3{
    width: 100%;
    height: 100%;
    background: url("../image/logo3.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic4{
    width: 100%;
    height: 100%;
    background: url("../image/logo4.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic5{
    width: 100%;
    height: 100%;
    background: url("../image/logo5.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic6{
    width: 100%;
    height: 100%;
    background: url("../image/logo6.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic7{
    width: 100%;
    height: 100%;
    background: url("../image/logo7.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic8{
    width: 100%;
    height: 100%;
    background: url("../image/logo8.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic9{
    width: 100%;
    height: 100%;
    background: url("../image/logo9.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic10{
    width: 100%;
    height: 100%;
    background: url("../image/logo10.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic11{
    width: 100%;
    height: 100%;
    background: url("../image/logo11.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic12{
    width: 100%;
    height: 100%;
    background: url("../image/logo12.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic13{
    width: 100%;
    height: 100%;
    background: url("../image/logo13.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic14{
    width: 100%;
    height: 100%;
    background: url("../image/logo14.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic15{
    width: 100%;
    height: 100%;
    background: url("../image/logo15.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic16{
    width: 100%;
    height: 100%;
    background: url("../image/logo16.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic17{
    width: 100%;
    height: 100%;
    background: url("../image/logo17.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic18{
    width: 100%;
    height: 100%;
    background: url("../image/logo18.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic19{
    width: 100%;
    height: 100%;
    background: url("../image/logo19.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic20{
    width: 100%;
    height: 100%;
    background: url("../image/logo20.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic21{
    width: 100%;
    height: 100%;
    background: url("../image/logo21.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic22{
    width: 100%;
    height: 100%;
    background: url("../image/logo22.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic23{
    width: 100%;
    height: 100%;
    background: url("../image/logo23.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic24{
    width: 100%;
    height: 100%;
    background: url("../image/logo24.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic25{
    width: 100%;
    height: 100%;
    background: url("../image/logo25.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic26{
    width: 100%;
    height: 100%;
    background: url("../image/logo26.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic27{
    width: 100%;
    height: 100%;
    background: url("../image/logo27.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic28{
    width: 100%;
    height: 100%;
    background: url("../image/logo28.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic29{
    width: 100%;
    height: 100%;
    background: url("../image/logo29.jpg")no-repeat;
    background-size: 121px 109px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic30{
    width: 35px;
    height: 35px;
    background: url("../image/logo30.png")no-repeat;
    background-size: 35px 35px;
    position: absolute;
    top: 25px;
    left:30px;
}
.pic30text{
    width: 60px;
    height: 20px;
    position: absolute;
    font-size: 13px;
    top: 60px;
    left:39px;
}
@keyframes ani {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg) ;
    }
}
.top-bottom-item30:hover{
    background: rgb(255,0,54);
}
.top-bottom-item30:hover .top-bottom-item-pic30{
    animation:ani  .5s linear 1 ;
}